.dashed-section {
  @include media-query('md') {
    border-top-width: 1rem;
    border-bottom-width: 1rem;
  }
  border-top: 0.75rem dashed var(--border-color);
  border-bottom: 0.75rem dashed var(--border-color);
  padding: 7vw 0 !important;

  + .dashed-section {
    border-top: none;
  }
}
