.responsive-text {
  h1 {
    font-size: clamp(get-size('600'), 5.6vw, get-size('major'));
  }

  h2 {
    font-size: clamp(get-size('500'), 2.36vw, get-size('900'));
  }

  p,
  a,
  span,
  label,
  input,
  button,
  textarea,
  figcaption {
    font-size: clamp(get-size('400'), 1.77vw, get-size('700'));
  }

  div[id*='error'] {
    font-size: clamp(get-size('300'), 1.33vw, get-size('500'));
  }
}
