/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 0 get-size('500');
  max-width: 90rem;
}
