<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}

    {% if title === 'Gallery' %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@0.6.2/lite-youtube.js">
    {% endif %}
  </head>
  <body>
    {% include "partials/site-head.html" %}
    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
  </body>
</html>