{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}

    <style>{% include "css/critical.css" %}</style>
    
    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
      <style>{% include item %}</style>
      {% endfor %}
    {% endif %}

    <link rel="stylesheet" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" />
  
    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
      <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
      {% endfor %}
    {% endif %}

    {% if title === 'Gallery' %}
      <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@0.6.2/lite-youtube.js">
    {% endif %}
  </head>
  <body>
    <div class="site-wrap">
      {% include "partials/site-head.html" %}

      <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
      </main>

      {% include "partials/footer.html" %}
    </div>
    {# Some Javascript necessary for the responsive nav #}
    <script>
      self = MenuObserver = {};
      self.init = function() {};
      self.constructor = function(elem) {
        var moreMenuLink = elem.querySelector('.nav__more-option a');
        var moreMenuTarget = elem.querySelector('.nav__more');
        var firstMenuItem = moreMenuTarget.querySelector('a[href], button:not([disabled]), input');
        
        moreMenuLink.addEventListener('click', function (e) {
          e.preventDefault();

          // Toggle expanded state
          var expanded = moreMenuLink.getAttribute('aria-expanded') === 'true' || false;
          moreMenuLink.setAttribute('aria-expanded', !expanded);

          // Toggle open state
          var open = moreMenuTarget.style.display === 'block' || false;
          moreMenuTarget.style.display = open ? 'none' : 'block'

          // Move focus to the expanded menu
          if (!open) {
            firstMenuItem.focus();
          }
        });

        // Ensure link behaves like a <button> by activating click events on SPACE
        moreMenuLink.addEventListener('keydown', function(e) {
          if (e.keyCode === 32) {
            e.preventDefault();
            moreMenuLink.click();
          }
        });

        if ('IntersectionObserver' in window) {
          var links = elem.querySelector('.nav__list');
          var items = links.querySelectorAll('li');

          var observerSettings = {
            root: links,
            threshold: 0.98
          };

          var callback = function(items, observer) {
            Array.prototype.forEach.call(items, function(item) {
              // Change visibility and availability of menu items
              // depending on whether they are intersecting
              console.log('intersecting!!!!')
              if (item.intersectionRatio > 0.98) {
                item.target.classList.remove('nav__list-item-hidden');
              } else {
                item.target.classList.add('nav__list-item-hidden');
              }
            });
          };

          var observer = new IntersectionObserver(callback, observerSettings);
          Array.prototype.forEach.call(items, function(item) {
            observer.observe(item);
          });
        }
      }

      document.addEventListener('DOMContentLoaded', function () {
        MenuObserver.init();

        var menuObserverElem = document.querySelector('.site-head__inner');
        var menuObserver = new MenuObserver.constructor(menuObserverElem);
      });
    </script>
  </body>
</html>