{% extends "layouts/base.html" %}

{% set pageHeaderTitle = headerTitle %}
{% set pageHeaderSummary = content %}

{% block content %}
  <article class="gallery">
    {% include "partials/page-header.html" %}
    <div class="gallery-photos">
      <h2>Φωτογραφίες</h2>
      {% set galleryImages = images %}
      {% include "partials/gallery.html" %}
    </div>
    <div class="gallery-videos">
      <h2>Βίντεο</h2>
      <ul class="gallery-videos__list">
        {% for video in videos %}
        <li><lite-youtube videoid="{{ video.id }}"></lite-youtube></li>
        {% endfor %}
      </ul>
    </div>
  </article>
{% endblock %}
