{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}

{% set pageHeaderTitle = heading.title %}
{% set pageHeaderSummary = heading.summary %}
{% set pageHeaderParagraph = heading.paragraph %}

{% block content %}
{% include "partials/page-header.html" %}

{% set galleryTitle = gallery.title %}
{% set galleryParagraph = gallery.paragraph %}
{% set galleryImages = gallery.images %}
{% set withSeparator = true %}
{% include "partials/gallery.html" %}

{% include "partials/contact.html" %}
{% endblock %}