{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% set showItems = collections.shows %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
    {% if showItems %}
    <div class="wrapper">
      <div class="show">
        {% for item in showItems %}
        {% set show = item.data %}
        <article class="show">
          <h2>{{ show.name }}</h2>
          {% if show.subtitle %}
          <h3>{{ show.subtitle }}</h3>
          {% endif %}
          <p>{{ show.description }}</p>
          {% if show.duration %}
          <p>Διάρκεια: {{ show.duration }}</p>
          {% endif %}
          {% if show.music %}
          <p>Μουσική: {{ show.music }}</p>
          {% endif %}
          {% if show.materials %}
          <p>Τεχνιτή: {{ show.materials }}</p>
          {% endif %}                              
          {% if show.ages %}
          <p>Ηλικίες: {{ show.ages }}</p>
          {% endif %}
          <h4>Φωτογραφίες</h4>
          {% set galleryImages = show.gallery %}
          {% include "partials/gallery.html" %}
        </article>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </article>
{% endblock %}