@use 'mixins/image-clip-path';

.about__people {
  --separator-color: #{get-color('quinary-glare')};
  --border-color: #{get-color('secondary-shade')};

  ol {
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      img {
        width: 80%;

        @include media-query('lg') {
          width: 100%;
        }

        --duration: 1000ms;
        --i: 5;

        @include image-clip-path.apply-class('about__people--image', 7);
      }

      figure {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 40vw;
        margin-bottom: 2.36vw;
      }

      figcaption {
        display: inline-block;
        transform: rotate(-2deg);
        margin-bottom: 2.36vw;
        padding: 1vw;
      }

      p {
        flex-basis: -webkit-auto;
        flex-basis: auto;
        min-height: 20rem;
        max-height: 35vw;
        border: 2px dashed var(--border-color);
        padding: 1.33vw;
        overflow-y: auto;

        @include media-query('md') {
          flex-basis: 35ch;
          min-height: none;
        }
      }
    }

    li:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
