@use 'mixins/image-clip-path';

.about__intro {
  --background-color: #{get-color('dark-glare')};
  --flow-space: 1.33vw;

  &--item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }

    figure {
      border: 2px dashed #{get-color('light-shade')};

      img {
        @include image-clip-path.apply-class('about__intro--image', 2);
        width: 100%;
        
        &:hover {
          clip-path: none;
        }
      }      
    }

    figure + p {
      flex-basis: 45ch;
      margin: 1.77vw 0;
    }

    &:last-child {
      p {
        max-width: 65ch;
      }
    }
  }
}
