.artifact {
  .section-heading {
    margin-bottom: 7vw;
    max-width: 90%;
  }

  .link-svg {
    margin-inline-start: 1vw;

    svg {
      vertical-align: middle;
      fill: var(--color);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.77vw;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 90%;
    --flow-space: 1.77vw;

    p:first-child::first-letter {
      font-size: 1.77rem;

      @include media-query('lg') {
        font-size: 3.15vw;
      }
    }

    &:last-child {
      margin-bottom: 30vw;
    }

    span {
      transform: rotate(-2deg);
      background: var(--color);
      padding: .33vw;
      color: var(--background-color);
    }

    a {
      align-self: flex-end;
      margin-bottom: 5.6vw;
    }

    .photos-label {
      text-align: center;
    }
  }

  .gallery {
    padding-top: 0;

    ul {
      border-top: 0;
    }
  }

  &:not(:last-of-type) {
    .gallery {
      padding-bottom: 10vw;
    }
  }
}