.button {
  display: inline-block;
  padding: 0.5rem 2rem;
  background: transparent;
  color: var(--color);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all .05s ease-in;
  cursor: pointer;

  @include apply-utility('font', 'sans');
  @include apply-utility('weight', 'bold');

  &:hover {
    box-shadow: 2px 2px 0 var(--color);
    transform: translate(2px, 2px);
  }
}