.contact {
  --background-color: #{get-color('light-shade')};
  --color: #{get-color('tertiary-shade')};

  .section-heading {
    margin-bottom: 7vw;
  }

  &__form {
    @include media-query('md') {
      max-width: 80%;
    }
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 90%;

    form {
      flex-grow: 1;
    }

    label + input,
    label + textarea {
      margin-top: 0.77vw;
    }

    div[id*='error'] {
      margin-top: 0.77vw;
      padding: 0.77vw;

      + label {
        margin-top: 1.33vw;
      }
    }

    label {
      display: block;
    }

    input,
    textarea {
      display: inline-block;
      border: 2px dashed var(--color);
      background: transparent;
      padding: 1vw;
      width: 100%;
      color: inherit;

      &:focus {
        outline: 2px solid get-color('dark-shade');
      }
    }

    textarea {
      resize: none;
    }

    button {
      margin-top: 1.33vw;
    }

    img {
      @include media-query('lg') {
        --duration: 1000ms;
        --i: 5;
        display: block;
        flex-shrink: 0;
        margin-left: 5vw;
        width: 250px;
        height: 291px;
      }
      display: none;
    }
  }
}
