.contact {
  position: relative;
  padding-bottom: 30vw;
  --separator-color: #{get-color('light-shade')};
  --border-color: #{get-color('tertiary')};

  .section-heading {
    margin-bottom: 7vw;
  }

  &__inner {
    padding-top: 10vw;
  }

  &__form {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 80%;

    form {
      flex-grow: 1;
    }

    label + input,
    label + textarea {
      margin-top: .77vw;
    }

    div[id*=error] + label {
      margin-top: 1.33vw;
    }

    label {
      display: block;
    }

    input,
    textarea {
      display: inline-block;
      background: transparent;
      border: 2px dashed get-color('tertiary');
      padding: 1vw;
      width: 100%;
      color: inherit;

      &:focus {
        outline: 2px solid get-color('dark-shade');
      }
    }

    textarea {
      resize: none;
    }

    button {
      margin-top: 1.33vw;
      --color: #{get-color('tertiary')};
    }

    img {
      display: none;

      @include media-query('lg') {
        display: block;
        flex-shrink: 0;
        margin-left: 5vw;
        width: 250px;
        height: 291px;

        --duration: 1000ms;
        --i: 5;
      }
    }
  }
}