@use 'mixins/image-clip-path';

.gallery {
  position: relative;
  padding-bottom: 30vw;
  --separator-color: #{get-color('secondary')};
  --border-color: #{get-color('quaternary-shade')};

  &__inner {
    padding-top: 10vw;
  }

  ul {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    list-style: none;
    padding: 7vw 0;
    border-top: 1rem dashed get-color('quaternary-shade');
    border-bottom: 1rem dashed get-color('quaternary-shade');

    li {
      border: 2px dashed get-color('quaternary-shade');
    }

    img {      

      width: 400px;
      height: 400px;
      object-fit: cover;

      @include image-clip-path.apply-class('gallery__image', 16);
    }
  }
}
