@use 'mixins/image-clip-path';

.gallery {
  background-color: var(--background-color);
  color: var(--color);

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3rem;
    justify-items: center;
    list-style: none;

    li {
      border: 2px dashed var(--color);
    }

    img {
      @include image-clip-path.apply-class('gallery__image', 31);
      width: 400px;
      height: 400px;
      object-fit: cover;
    }
  }
}
