.nav {
  display: flex;
  align-items: center;
  line-height: 1;
  font-weight: 900;
  margin-top: -#{get-size('400')};
  margin-inline-start: -#{get-size('400')};

  &__list {
    overflow-x: hidden;

    ul {
      display: flex;
      list-style: none;

      > * {
        padding-top: get-size('400');
        padding-inline-start: get-size('400');
      }
    } 

    a {
      display: block;
      position: relative;
      text-decoration: none;
      white-space: nowrap;      
  
      &[data-state='active'],
      &[aria-current='page'] {
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 0.25rem;
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 0.5rem;
          background: get-color('quinary-glare');
        }
      }

      &:hover {
        transform: rotate(-3deg);
      }
    }

    &-item-hidden {
      visibility: hidden;
    }
  }

  &__more-option {
    padding-top: get-size('400');
    padding-inline-start: get-size('400');
    font-weight: 900;
    
    > a {
      display: block;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        background: get-color('dark-shade');
        color: get-color('light');
      }
    }
  }

  &__more {
    position: relative;
    z-index: 1;
    margin-top: -#{get-size('700')};
    float: right;
    max-width: 170px;
    max-width: min-content;
    font-weight: 900;
    color: get-color('light');

    ul {
      box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
      background-color: get-color('dark-shade');
      border-radius: get-size('300');
      padding-top: get-size('400');
      padding-inline-end: get-size('400');
      padding-inline-start: get-size('400');
      height: auto;

      > li {
        padding-bottom: get-size('400');
        
        &:hover {
          transform: rotate(-3deg);
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 1px;
        left: 75%;
        transform: translate(-50%,-100%);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid get-color('dark-shade');
      }
    }

    a {
      text-decoration: none;
    }

    &-item-hidden {
      display: none;
    }
  }
}