.nav {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: -#{get-size('400')};
  margin-inline-start: -#{get-size('400')};

  &__list {
    overflow-x: hidden;

    ul {
      display: flex;
      flex-wrap: nowrap;
      list-style: none;

      > * {
        padding-top: get-size('400');
        padding-inline-start: get-size('400');
        white-space: nowrap;
      }
    } 

    a {
      display: block;
      position: relative;
      text-decoration: none;
      white-space: nowrap;      
  
      &[data-state='active'],
      &[aria-current='page'] {
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 0.25rem;
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 0.5rem;
          background: get-color('dark-glare');
        }
      }

      &:hover {
        transform: rotate(-3deg);
      }
    }

    &-item-hidden {
      visibility: hidden;
    }
  }

  &__more-option {
    display: block;
    padding-top: 1.22rem;
    padding-inline-start: get-size('900');
    line-height: 1.5;

    > a {
      display: block;
      text-decoration: none;
      white-space: nowrap; 

      &:hover {
        background: get-color('secondary-shade');
        color: get-color('primary-glare');
      }

      &[aria-expanded="true"] .pyramid {
        display: inline-block;
        transform: rotate(180deg) translateY(-25%);
      }
    }
  }

  &__more {
    position: absolute;
    right: 10px;
    z-index: 1;
    margin-top: -#{get-size('600')};
    max-width: 170px;
    max-width: min-content;
    color: get-color('primary-glare');

    ul {
      box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
      background-color: get-color('secondary-shade');
      border-radius: get-size('300');
      padding-top: get-size('400');
      padding-inline-end: get-size('400');
      padding-inline-start: get-size('400');
      height: auto;
      text-align: center;

      > li {
        padding-bottom: get-size('400');
        white-space: nowrap;
        
        &:hover {
          transform: rotate(-3deg);
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 1px;
        left: 75%;
        transform: translate(-50%,-100%);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid get-color('secondary-shade');
      }
    }

    a {
      text-decoration: none;
    }

    &-item-hidden {
      display: none;
    }
  }
}