.page-header {
  padding-top: 20vw;

  @include media-query('lg') {
    padding-top: 8vw;
  }

  .characters {
    display: none;

    @include media-query('lg') {
      display: flex;
      justify-content: center;
    }
  }

  .character {
    fill: get-color('secondary-shade');

    &:only-of-type {
      margin: -3vw 0 2vw;
    }

    &:not(:only-of-type) {
      flex: 1 1 auto;
      
      &:nth-child(2) {
        margin-top: -2vw;
      }
  
      &:nth-child(n + 3) {
        margin-top: -3vw;
      }

      svg {
        max-width: 8vw;
      }
    }
  }

  &__heading {
    margin: -9rem 0 5rem;
    border: 5px solid get-color('dark');
    transform: rotate(-2deg);
    text-align: center;
  }
  
  .headline {
    padding: 5vh 0;
    font-size: 5vw;
  }
}