.page-header {
  padding-top: 20vw;
  padding-bottom: 30vw;

  @include media-query('lg') {
    padding-top: 4vw;
  }

  .characters {
    display: none;

    @include media-query('lg') {
      display: grid;
      grid-template-columns: repeat(8, minmax(2vw, 1fr));
    }
  }

  .character {
    $character-colors: (1: 'dark', 2: 'tertiary-shade', 3: 'dark-shade', 4: 'tertiary', 5: 'secondary-glare', 6: 'quinary-shade', 7: 'secondary', 8: 'dark-glare');

    --duration: 1500ms;
    
    @each $index, $color in $character-colors {
      &-#{$index} {
        grid-column: $index;
        fill: get-color($color);
        animation: calc(var(--duration) * 2) calc(#{$index} * (var(--duration) / -3)) steps(3, end) alternate infinite;
        animation-name: animation-#{$index};

        // In Chrome margin-top on the 6th char (Oups! sign) brings it out of the box
        // So we can't apply the margin there :(
        @if $index > 3 and $index != 6 {
          margin-top: -1vw;
        }

        @keyframes animation-#{$index} {
          0% { fill: get-color(map-get($character-colors, random(8))) }
          50% { fill: get-color(map-get($character-colors, random(8))) }
          100% { fill: get-color(map-get($character-colors, random(8))) }
        }
      }
    }

    svg {
      width: 12vw;
      height: 12vw;
    }
  }

  &__heading {
    transform: rotate(-2deg);
    margin: -3.5rem 0 5rem;
    --border-color: #{get-color('dark')};
    text-align: center;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 100%;
      right: 50%;
      transform: translateX(50%) translateY(1%);
      width: 50%;
      height: 30vw;
      border-left: 1vw solid get-color('dark');
      border-right: 1vw solid get-color('dark');
    }
  }
  
  .headline {
    padding: 8vw 0;
  }

  &__summary {
    transform: rotate(-2deg);
    background: repeating-linear-gradient(149deg, hsl(221, 66%, 20.8%), hsl(221, 66%, 20.8%) 1px, hsl(335, 90.5%, 33.1%) 1px, hsl(335, 90.5%, 33.1%) 2px);
    margin-top: 19vw;
    margin-inline-end: auto;
    margin-inline-start: auto;
    --border-color: #{get-color('light')};
    max-width: 85%;
    padding: 7vw 4vw;

    h2,
    p {
      background-image: repeating-linear-gradient(253deg, hsl(192, 94.9%, 84.5%), hsl(192, 94.9%, 84.5%) 10px, hsl(180, 100%, 99.6%) 10px, hsl(180, 100%, 99.6%) 30px);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      margin-top: 4vw;
      border-top: 1vw dashed get-color('light');
      padding-top: 4vw;
    }
  }
}