.page-header {
  margin-top: 20vw;

  @include media-query('lg') {
    margin-top: 8vw;
  }

  .characters {
    display: none;

    @include media-query('lg') {
      display: flex;
    }
  }

  .character {
    flex: 1 1 auto;
    
    svg {
      max-width: 8vw;
    }

    &:nth-child(2) {
      margin-top: -2vw;
    }

    &:nth-child(n + 3) {
      margin-top: -3vw;
    }
  }

  &__heading {
    margin: -9rem 0 5rem;
    border: 5px solid get-color('dark');
    transform: rotate(-2deg);
    text-align: center;
  }
  
  .headline {
    padding: 5vh 0;
    font-size: 5vw;
  }
}