.site-foot {
  --background-color: #{get-color('tertiary')};
  position: relative;
  padding: get-size('500') 0 get-size('700') 0;
  text-align: center;

  p,
  a {
    font-size: clamp(get-size('400'), 1.77vw, get-size('500'));    
  }

  p {
    margin-bottom: 1.33vw;
  }

  a {
    text-decoration-color: get-color('light-glare');
    text-decoration-style: dashed;

    &:hover {
      text-decoration-color: get-color('light-shade');
      text-decoration-style: solid;
      color: get-color('light-shade');
    }

    &:focus {
      outline: 1px dashed get-color('light-shade');
    }

    svg {
      fill: get-color('light-glare');
    }

    + a {
      margin-inline-start: get-size('500');
    }
  }
}
