.toc {
  padding: 0 1vw;

  div {
    display: inline-block;
    transform: rotate(-2deg);
    margin-bottom: 1vw;

    h2 {
      padding: 1vw;
    }
  }

  ul {
    --flow-space: 1.33vw;
    padding-left: 0;
    list-style: none;

    a {
      text-decoration-color: var(--color);
      text-decoration-style: dashed;

      &:hover,
      &:visited {
        text-decoration-color: get-color('light-shade');
        color: get-color('light-shade');

        &:hover {
          text-decoration-style: solid;
        }
      }
    }
  }
}
