// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

.contact {
  &__intro {
    --flow-space: 1.33vw;

    @include media-query('md') {
      max-width: 80%;
    }
    margin: 0 auto 2.36vw;
    max-width: 90%;

    a {
      text-decoration-style: dashed;

      &:hover {
        text-decoration-style: solid;
        color: get-color('tertiary');
      }
    }
  }

  img {
    width: 300px !important;
    height: 100% !important;
  }
}

// Pull in blocks
@import 'blocks/contact';

// Pull in utilities
@import 'utilities/dance';
