@use 'mixins/image-clip-path';

// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

.gallery {
  --separator-color: #{get-color('tertiary-glare')};
  --background-color: #{get-color('tertiary-glare')};
  --border-color: #{get-color('secondary-shade')};
  --text-color: #{get-color('secondary-shade')};
  
  img {
    @include image-clip-path.apply-class('gallery__image', 31);
  }
}

// Pull in blocks
@import 'blocks/gallery';
@import 'blocks/videos';

// Pull in utilities
@import 'utilities/dashed-section';
