// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

.gallery {
  --background-color: #{get-color('quaternary')};
  --color: #{get-color('secondary-shade')};
}

// Pull in blocks
@import 'blocks/gallery';
@import 'blocks/videos';

// Pull in utilities
@import 'utilities/dashed-section';
