// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

.sound-btn {
  @include media-query('lg') {
    &.js-enabled {
      display: inline-block;
    }
  }
  display: none;
  border: medium none;
  border-radius: 5px;
  background: transparent none repeat scroll 0% 0%;
  cursor: pointer;
  padding: 0;

  svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    fill: get-color('secondary-shade');
  }
}

.gallery {
  --background-color: #{get-color('secondary')};
  --color: #{get-color('quaternary-shade')};
}

// Pull in blocks
@import 'blocks/gallery';
@import 'blocks/contact';

// Pull in utilities
@import 'utilities/character-animations';
@import 'utilities/dashed-section';
@import 'utilities/dance';
