// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

.gallery {
  --separator-color: #{get-color('tertiary-shade')};
  --background-color: #{get-color('tertiary-shade')};
  --border-color: #{get-color('primary')};
  --text-color: #{get-color('primary')};
}

// Pull in blocks
@import 'blocks/gallery';

// Pull in utilities
@import 'utilities/dashed-section';
