// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

.with-toc {
  position: relative;
  --separator-color: #{get-color('quinary')};
  --background-color: #{get-color('quinary')};
  --color: #{get-color('light-glare')};
  --border-color: #{get-color('light-glare')};
  --space: 1rem;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--space) / 2 * -1);
    padding-top: 10vw;

    > * {
      margin: calc(var(--space) / 2);
    }
  }
}

.toc-container {
  flex-basis: 35rem;
  flex-grow: 1;
  border: .5rem dashed var(--border-color);
  margin-bottom: 4.2rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 90%;
  padding: 2.36rem;
  
  @media (min-width: 1150px) {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 1rem dashed var(--border-color);
    margin: calc(var(--space) / 2);
    padding: 0;
  }
}

.artifacts-container {
  flex-basis: 0;
  flex-grow: 999;
  margin: calc(var(--space) / 2);
  min-width: calc(50% - var(--space));
}

// Pull in blocks
@import 'blocks/toc';
@import 'blocks/artifact';
@import 'blocks/gallery';

// Pull in utilities
@import 'utilities/dashed-section';