{% set artifact = item.data %}
<article class="artifact">
  <div class="artifact-section-header">
    {% set linkId = artifact.name | replace(' ', '-') | lower %}
    <h2 id="{{ linkId }}" tabindex="-1">{{ artifact.name }}</h2>
    <a href="#{{ linkId }}" aria-label="link to {{ artifact.name }}">#</a>
    {% if artifact.subtitle %}
    <h3>{{ artifact.subtitle }}</h3>
    {% endif %}
  </div>
  <p>{{ artifact.description }}</p>
  {% if artifact.duration %}
  <p>Διάρκεια: {{ artifact.duration }}</p>
  {% endif %}
  {% if artifact.music %}
  <p>Μουσική: {{ artifact.music }}</p>
  {% endif %}
  {% if artifact.materials %}
  <p>Τεχνιτή: {{ artifact.materials }}</p>
  {% endif %}                              
  {% if artifact.ages %}
  <p>Ηλικίες: {{ artifact.ages }}</p>
  {% endif %}
  <h4>Φωτογραφίες</h4>
  {% set galleryImages = artifact.gallery %}
  {% include "partials/gallery.html" %}
</article>