<footer class="[ site-foot ] [ font-sans ]">
  <p>Copyright &copy; {{ helpers.getFullYear() }} Oups! The Puppet Theater</p>
  <a href="https://www.facebook.com/OUPS-the-puppet-theater-107602269582337/">
    <span class="visually-hidden">leave Oups! The Puppet Theater site:</span>
    Facebook
    {% include "partials/external-link.svg" %}</a>
  <a href="https://www.youtube.com/channel/UCjEbuJG6-YDl3lMvXcQ3-JA">
    <span class="visually-hidden">leave Oups! The Puppet Theater site:</span>
    Youtube
    {% include "partials/external-link.svg" %}</a>
  <a href="https://www.instagram.com/oups_the_puppet_theater/">
    <span class="visually-hidden">leave Oups! The Puppet Theater site:</span>
    Instagram
    {% include "partials/external-link.svg" %}</a>
</footer>