<div class="[ page-header ]">
  <div>
    {% for character in characters.items %}
    {% if permalink and character.permalink == permalink %}
    {% include character.svg %}
    {% endif %}
    {% endfor %}
    <h1 class="[ page-header__heading ] [ headline ]">{{ pageHeaderTitle }}</h1>
    {% if pageHeaderSummary %}
    <div class="[ page-header__summary ] [ measure-long ]">
      {{ pageHeaderSummary | safe }}
    </div>
    {% endif %}
    {% if pageHeaderIntro %}
    <div class="[ page-header__intro ]">
      {{ pageHeaderIntro | safe }}
    </div>
    {% endif %}
  </div>
</div>