<div class="[ page-header ] [ bg-primary-glare ]">
  <div class="wrapper">
    <div class="characters">
      {% for character in characters.items %}
      {% if page.url == '/' or character.url == page.url %}
      <a class="character character-{{ loop.index }}" href="{{ character.url }}">{% include character.svg %}</a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="[ page-header__heading ] [ bg-secondary color-primary-glare ]">
      <h1 class="[ headline ] {{'[ font-sans ]' if page.url == '/'}}">{{ pageHeaderTitle }}</h1>
    </div>
    {% if pageHeaderSummary %}
    <div class="[ page-header__summary ] [ measure-compact ]  [ color-light weight-bold ]">
      {{ pageHeaderSummary | safe }}
      {% if pageHeaderParagraph %}
      <p>{{ pageHeaderParagraph | safe }}</p>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#daac1d" fill-opacity="1" d="M0,0L48,32C96,64,192,128,288,176C384,224,480,256,576,234.7C672,213,768,139,864,122.7C960,107,1056,149,1152,144C1248,139,1344,85,1392,58.7L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
</svg>