<div class="[ page-header ] [ bg-primary-glare ]">
  <div class="wrapper">
    <div class="characters">
      {% for character in characters.items %}
      {% if page.url == '/' or character.url == page.url %}
      <a class="character character-{{ loop.index }}" href="{{ character.url }}">{% include character.svg %}</a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="[ page-header__heading ] [ border bg-secondary color-primary-glare ] [ responsive-text ]">
      <h1 class="[ headline ] {{'[ font-sans ]' if page.url == '/'}}">{{ pageHeaderTitle }}</h1>
    </div>
    {% if pageHeaderSummary %}
    <div class="[ page-header__summary ] [ border bg-quinary color-light weight-bold ] [ responsive-text ]">
      <h2>{{ pageHeaderSummary | safe }}</h2>
      {% if pageHeaderParagraph %}
      <p>{{ pageHeaderParagraph | safe }}</p>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
