<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="wrapper">
    <nav class="[ nav ] [ site-head__nav ]" aria-label="Primary">
      <a href="/" aria-label="{{ site.name }} - home" class="site-head__brand">
        {% include "partials/brand.svg" %}
      </a>
      <div class="nav__list">
        <ul>
          {% for item in navigation.items %}
          <li class="{{'nav__list-item-hidden' if item.inMoreMenu}}">
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="nav__more-option">
        <a href="#nav__more" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="visually-hidden">Άλλα</span>
          <span class="nav__more-option-text" aria-hidden="true">
            Άλλα
            <span aria-hidden="true">▾</span>
          </span>
        </a>
      </div>
      <div id="nav__more" class="nav__more" style="display: none;">
        <ul class="nav__more-list">
          {% for item in navigation.items %}
          <li class="{{'nav__more-item-hidden' if not item.inMoreMenu}}">
            <a href="{{ item.url }}">{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>         
    </nav> 
  </div>  
</header>